:host {
  dialog {
    display: none;
    border-radius: 1rem;
    border: none;
    background-color: #343434c4;
    backdrop-filter: blur(20px);
    color: #e5e5e5;
    padding: 1rem;

    &:focus {
      outline: none;
    } 
  }

  dialog[open] {
    display: block;
    animation: slide-up 0.2s ease-out forwards;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(-30%);
    opacity: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
}
