@import "../../styles/variables";
@import "../../styles/animations";

:host {
  dialog {
    display: none;
    border-radius: $spacing-lg;
    border: none;
    background-color: rgba($color-background-disabled, 0.77);
    backdrop-filter: blur(20px);
    color: $color-text;
    padding: $spacing-lg;

    &:focus {
      outline: none;
    }
  }

  dialog[open] {
    display: block;
    animation: slide-up$duration-normal ease-out forwards;
  }
}

@include slide-up;
