<div class="links">
  <button class="link desc" (click)="scroll('about-slide')">
    <div class="content">
      <span>
        Hello, I'm Amr Thabit, a software developer based in Ontario, Canada. I
        enjoy building backend systems and web applications.
      </span>
    </div>
    <div class="link-hover">
      <span
        >View site. View site. View site. View site. View site. View site. View
        site. View site. View site. View site.&nbsp;</span
      >
    </div>
  </button> 
  <button class="link projects" (click)="scroll('projects-slide')"> 
    <div class="content">Projects</div>
    <div class="link-hover">
      <span
        >See my projects. See my projects. See my projects. See my projects. See
        my projects. See my projects. See my projects. See my projects. See my
        projects. See my projects.&nbsp;</span
      >
    </div>
  </button>
  <button class="link about" (click)="scroll('about-slide')">
    <div class="content">About</div>
    <div class="link-hover">
      <span
        >Read more about me. Read more about me. Read more about me. Read more
        about me. Read more about me. Read more about me. Read more about me.
        Read more about me. Read more about me. Read more about me.&nbsp;</span
      >
    </div>
  </button>
  <button class="link contact" (click)="scroll('contact-slide')">
    <div class="content">Contact</div>
    <div class="link-hover">
      <span
        >Shoot me a message! Shoot me a message! Shoot me a message! Shoot me a
        message! Shoot me a message! Shoot me a message! Shoot me a message!
        Shoot me a message! Shoot me a message! Shoot me a message!&nbsp;</span
      >
    </div>
  </button>
</div>