<div class="links">
  <button class="link desc" (click)="scroll('about-slide')">
    <div class="content">
      <span> Hello!!! Welcome to my portfolio 😊 </span>
    </div>
    <div class="link-hover">
      <span
        >View portfolio 🔥 View portfolio 🔥 View portfolio 🔥 View portfolio 🔥
        View portfolio 🔥 View portfolio 🔥 View portfolio 🔥 View portfolio 🔥
        View portfolio 🔥 View portfolio 🔥&nbsp;</span
      >
    </div>
  </button>
  <button class="link projects" (click)="scroll('projects-slide')">
    <div class="content">Projects</div>
    <div class="link-hover">
      <span
        >See my projects 🧑‍💻 See my projects 🧑‍💻 See my projects 🧑‍💻 See my
        projects 🧑‍💻 See my projects 🧑‍💻 See my projects 🧑‍💻 See my projects 🧑‍💻 See
        my projects 🧑‍💻 See my projects 🧑‍💻 See my projects.&nbsp;</span
      >
    </div>
  </button>
  <button class="link about" (click)="scroll('about-slide')">
    <div class="content">About</div>
    <div class="link-hover">
      <span
        >Read more about me 📖 Read more about me 📖 Read more about me 📖 Read
        more about me 📖 Read more about me 📖 Read more about me 📖 Read more
        about me. Read more about me 📖 Read more about me 📖 Read more about
        me.&nbsp;</span
      >
    </div>
  </button>
  <button class="link contact" (click)="scroll('contact-slide')">
    <div class="content">Contact</div>
    <div class="link-hover">
      <span
        >Shoot me a message 🤙 Shoot me a message 🤙 Shoot me a message 🤙 Shoot
        me a message 🤙 Shoot me a message 🤙 Shoot me a message 🤙 Shoot me a
        message! Shoot me a message 🤙 Shoot me a message 🤙 Shoot me a
        message!&nbsp;</span
      >
    </div>
  </button>
  <button class="scroll-button" (click)="scroll('about-slide')">
    <div class="content">
      <div class="text-row-0">
        EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE&nbsp;
      </div>
      <div class="text-row-1">
        EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE&nbsp;
      </div>
      <div class="text-row-2">
        EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE&nbsp;
      </div>
      <div class="text-row-3">
        EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE&nbsp;
      </div>
      <div class="text-row-4">
        EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE EXPLORE MORE&nbsp;
      </div>
    </div>
    <span class="arrow">↓</span>
  </button>
</div>
