@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bounce($seconds: 0.3s) {
  transition: all $seconds cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@mixin background-image($image, $invert: 1) {
  &::before {
    @include bounce;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url($image) no-repeat center center;
    background-size: min(min(40%, 12vh), 20vw);
    filter: invert($invert);
    opacity: 0.3;
    z-index: 1;
  }
}

.links {
  box-sizing: border-box;
  min-height: 60vh;
  padding: 0.5rem;
  display: grid;
  grid-template-areas:
    "desc desc projects about"
    "desc desc contact contact";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem;
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;

  // * {
  //   backface-visibility: hidden;
  //   -moz-backface-visibility: hidden;
  //   -webkit-backface-visibility: hidden;
  //   transform: translateZ(0);
  //   -moz-transform: translateZ(0);
  //   -webkit-transform: translateZ(0);
  //   will-change: transform;
  //   // force hardware acceleration
  //   transform: translate3d(0, 0, 0);
  //   -moz-transform: translate3d(0, 0, 0);
  //   -webkit-transform: translate3d(0, 0, 0);
  //   background-clip: padding-box;
  // }

  .link {
    @include bounce;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    user-select: none;
    border-radius: 1rem;
    will-change: transform;

    .content {
      @include bounce;
      padding: 1rem;
      font-size: 1.5rem;
      line-height: 1.5rem;
      height: 100%;
    }

    &:hover {
      transform: scale(0.98);
      border-radius: 2rem;

      .content {
        font-size: 1.65rem;
      }

      &::before {
        transform: scale(1.05);
        background: blue;
        opacity: 0 !important;
      }
    }

    &:active {
      @include bounce(0.1s);
      transform: scale(0.95);
    }

    &.desc {
      grid-area: desc;
      background: radial-gradient(
        ellipse at 0% 0%,
        #0059ff82 0%,
        #1a00c57a 100%
      );

      &:hover {
        .content {
          opacity: 0;
        }
      }

      @include background-image("/assets/icons/terminal.svg");
    }

    &.projects {
      grid-area: projects;
      background: radial-gradient(
        ellipse at 0% 0%,
        rgb(43, 43, 43) 0%,
        #141414 100%
      );

      @include background-image("/assets/icons/code.svg");

      &::after {
        filter: invert(1) contrast(0.5);
      }
    }

    &.about {
      grid-area: about;
      background: radial-gradient(ellipse at 0% 0%, #ff6200e8 0%, #b04300e8 100%);

      @include background-image("/assets/icons/info.svg");
    }

    &.contact {
      grid-area: contact;
      background: radial-gradient(
        ellipse at 0% 0%,
        #fff9f1 0%,
        #ffdebe 100%
      );
      color: black;

      @include background-image("/assets/icons/mail.svg", 0);
    }

    &::after {
      @include bounce;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      aspect-ratio: 1/1;
      height: 30%;
      border-radius: 0.5rem;
      background: url("/assets/icons/chevron-down.svg") no-repeat center center;
      background-size: 100%;
      opacity: 0;
      border: none;
      mask-image: radial-gradient(
        ellipse at center,
        black 0%,
        transparent 130%
      );
      // this padding removes artifact from animation on moz
      padding: 0.5rem;
    }

    &:hover::after {
      opacity: 1;
      animation: slide-down 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s
        forwards;
    }

    &:active::after {
      animation: slide-down-more 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s
        forwards;
    }

    .link-hover {
      @include bounce;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include center;
      justify-content: flex-start;
      overflow: hidden;

      span {
        margin-left: 1rem;
        white-space: nowrap;
        font-size: 3rem;
        font-weight: 900;
        opacity: 0;
        translate: 0%;
      }
    }

    &:hover .link-hover span {
      transition: translate 3s cubic-bezier(0.13, -0.04, 0.43, 0.47),
        opacity 0.4s;
      opacity: 1;
      translate: -10%;
      animation: slide-left 3s linear 3s infinite;
    }
  }
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
  .links {
    height: 80vh;
    grid-template-areas:
      "desc desc"
      "projects about"
      "contact contact";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    .link {
      padding: 0.5rem;

      .content {
        padding: 0.5rem;
      }

      &:hover {
        padding: 0.75rem;

        .content {
          padding: 0.25rem;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .link {
    .content {
      font-size: 1.2rem !important;
    }

    &:active {
      @include bounce(0.3s);
      scale: 0.95;
    }
    &:active::after {
      animation: slide-down-more 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s
        forwards;
    }
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .links {
    height: 130vh;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down-more {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}
