:host {
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem 0 0.4rem 0;

    .form-control {
      width: 100%;
      padding: 0.5rem;
      border: 2px solid #ececec;
      border-radius: 0.25rem;
      font-size: 1rem;
      font-weight: 700;
      color: #ececec;
      background-color: #000000;
      transition: all 0.15s ease;
      resize: none;
      font-family: inherit;
      margin-bottom: 0.1rem;

      &:focus {
        outline: none;
        border-color: #ff6f00;
        box-shadow: 0 0 0 0.2rem rgba(255, 111, 0, 0.25);
      }

      &.error {
        border-color: #ff0000;
        box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.35) !important;
      }

      &:disabled {
        border-color: #a2a2a2;
        box-shadow: none;
        background-color: #2a2a2a;
        color: #bdbdbd;
      }
    }

    .alert {
      font-size: 0.75rem;
      font-weight: 500;
      padding-left: 0.5rem;
      color: #ff0000;
      height: 0.5rem;
    }

    .form-control:focus {
      outline: none;
      border-color: #ff6f00;
      box-shadow: 0 0 0 0.2rem rgba(255, 111, 0, 0.25);
    }

    .form-control::placeholder {
      color: #bdbdbd;
      opacity: 1;
    }

    .form-control:-ms-input-placeholder {
      color: #e3e3e3;
    }

    .form-control::-ms-input-placeholder {
      color: #e3e3e3;
    }
  }

  button.submit {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 2px solid #ff6f00;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    background-color: #ff6f00;
    transition: all 0.15s ease;
    display: block;
    text-align: center;
    position: relative;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #000000;
      color: #ff6f00;
    }

    &:focus {
      outline: none;
      border-color: #ff6f00;
      box-shadow: 0 0 0 0.2rem rgba(255, 111, 0, 0.25);
    }

    &.error {
      animation: submit-error 0.4s linear;
    }

    &:disabled {
      background-color: #313131;
      color: #ff6f00;
      border-color: #2a2a2a;
    }

    .loading-container {
      position: relative;
      // top: 0px;
      // right: 0px;
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .loading-bars {
        position: absolute;

        width: 1.5rem;
        height: 1.5rem;
        animation: loading-bar 1s linear infinite;
      }
    }
  }
}

@keyframes submit-error {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-0.2rem);
  }
  50% {
    transform: translateX(0.2rem);
  }
  75% {
    transform: translateX(-0.2rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes loading-bar {
  // 12 bars 12 discrete rotations
  0% {
    transform: rotate(0deg);
  }
  8.329% {
    transform: rotate(0deg);
  }
  8.33% {
    transform: rotate(30deg);
  }
  16.659% {
    transform: rotate(30deg);
  }
  16.66% {
    transform: rotate(60deg);
  }
  24.999% {
    transform: rotate(60deg);
  }
  25% {
    transform: rotate(90deg);
  }
  33.329% {
    transform: rotate(90deg);
  }
  33.33% {
    transform: rotate(120deg);
  }
  41.659% {
    transform: rotate(120deg);
  }
  41.66% {
    transform: rotate(150deg);
  }
  49.999% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(180deg);
  }
  58.329% {
    transform: rotate(180deg);
  }
  58.33% {
    transform: rotate(210deg);
  }
  66.659% {
    transform: rotate(210deg);
  }
  66.66% {
    transform: rotate(240deg);
  }
  74.999% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(270deg);
  }
  83.329% {
    transform: rotate(270deg);
  }
  83.33% {
    transform: rotate(300deg);
  }
  91.659% {
    transform: rotate(300deg);
  }
  91.66% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(330deg);
  }
}
