/* Main imports */
@import '../../styles/variables';
@import '../../styles/animations';
@import '../../styles/about';
@import './styles/glitch-variables';
@import './styles/title';
@import './styles/title-text';
@import './styles/content';
@import './styles/text';
@import './styles/contact';
@import './styles/animations';

/* Host element styles */
:host {
  display: flex;
  flex-direction: column;
  padding: 8rem $spacing-lg 5rem $spacing-lg;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

/* Responsive styles */
@include mobile {
  :host {
    padding: 8rem $spacing-xs 5rem $spacing-xs;
  }

  .about-content {
    flex-direction: column !important;

    .contact-button {
      margin: $spacing-lg !important;
    }
  }
}

@include small-mobile {
  .host {
    .about-title-text {
      @include hover-interaction {
        scale: 1.05 !important;
      }
    }
  }

  .about-content {
    padding: 0 !important;
  }
}

/* Animation includes */
@include about-letter;
@include about-letter-reverse;
@include about-background;