<div class="about-background"></div>
<div class="about-title">
  <div class="about-title-hover">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="about-title-text">
      <span>A</span><span>b</span><span>o</span><span>u</span><span>t</span
      ><span>&nbsp;</span><span>M</span><span>e</span>
    </div>
  </div>
</div>
<div class="about-content">
  <div class="about-text">
    <span class="goofy">
      <!-- write <span class="goofy">... in escped character -->
      &lt;p class="biography goofy"&gt;
    </span>

    <p class="main">
      I'm a software developer based in Ontario, Canada 🍁 studying computer
      science at McMaster University 🎓 Building Back End system and web
      applications is a dream come true for me 🤩
    </p>
    <p>Right now I'm working as a Project Engineer at Evertz Microsystems 📺</p>
    <p>
      If you have any ideas 💡 or opportunities you want to discuss, or would
      like to get in touch, feel free to
      <a href="mailto:amrthabi7@gmail.com">send me an email 📧</a>
    </p>
    <span class="goofy"> &lt;/p&gt; </span>
  </div>
  <div class="about-contact">
    <h2>Any Questions or Comments?</h2>
    <h3>Let's get in touch!</h3>
    <br />
    <p class="goofy">
      &lt;button class="contact-button" (click)="scroll('contact-slide')"&gt;
    </p>
    <button class="contact-button" (click)="scroll('contact-slide')">
      Contact Me
    </button>
    <span class="goofy"> &lt;/button&gt; </span>
  </div>
  <!-- <a class="github link" href="https://github.com/amrthabit" target="_blank"
    >GitHub</a
  >
  <a
    class="linkedin link"
    href="https://www.linkedin.com/in/amrthabit/"
    target="_blank"
    >LinkedIn</a
  >
  <a class="mail link" href="mailto:amrthabi7@gmail.com" target="_blank"
    >Email</a
  >
  <a
    class="instagram link"
    href="https://www.instagram.com/thbbit/"
    target="_blank"
    >Instagram</a
  > -->
</div>
