<div class="title" role="main">
  <div class="name">
    <div class="letters">
      <span>A</span>
      <span>m</span>
      <span>r</span>
      <span>T</span>
      <span>h</span>
      <span>a</span>
      <span>b</span>
      <span>i</span>
      <span>t</span>
    </div>
    <div class="letters-below">
      <span>A</span>
      <span>m</span>
      <span>r</span>
      <span>T</span>
      <span>h</span>
      <span>a</span>
      <span>b</span>
      <span>i</span>
      <span>t</span>
    </div>
  </div>
</div>
