@import "../../styles/variables";
@import "../../styles/animations";

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  overflow: hidden;
  font-size: $font-size-xxl;

  span {
    transition: all $duration-normal $curve-smooth;
  }

  .name {
    position: relative;

    &::before {
      content: "";
      position: absolute;
    }
  }

  .letters {
    display: flex;
    position: relative;
  }

  .letters-below {
    position: absolute;
    display: flex;
    top: 0;
    text-shadow: 0 0 0px rgba(255, 0, 0, 0.5), 0 0 0px rgba(0, 255, 0, 0.5),
      0 0 0px rgba(0, 0, 255, 0.5);

    span {
      opacity: 1;
    }
  }

  .name.glowing,
  .name:hover {
    .letters {
      animation: glitch-scale 4s infinite $curve-smooth;

      span {
        opacity: 1;
        color: rgb(255, 0, 0);
        animation: glitch-text 3s infinite $curve-smooth,
          chromatic-aberration 1s infinite $curve-smooth;

        @for $i from 1 through 9 {
          &:nth-child(#{$i}) {
            animation-delay: #{$i * 0.1}s;
          }
        }
      }

      &::before,
      &::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: glitch-clip 6s infinite $curve-smooth;
      }

      &::before {
        left: 1px;
        text-shadow: -1px 0 rgba(255, 0, 0, 0.5);
        clip: rect(44px, 450px, 56px, 0);
      }

      &::after {
        left: -1px;
        text-shadow: 1px 0 rgba(0, 255, 0, 0.5);
        clip: rect(44px, 450px, 56px, 0);
        animation-delay: 0.5s;
      }
    }

    .letters-below {
      animation: chromatic-aberration 4s infinite $curve-smooth;
      transform: scaleX(1.01);
      transition: all$duration-slow $curve-smooth, opacity$duration-normal;
      opacity: 1;
      animation: glitch-skew 8s infinite $curve-smooth;

      @for $i from 0 through 8 {
        &:nth-child(#{$i + 1}) {
          transition-delay: calc(0.15s + #{$i} * var(--title-delay-1));
        }
      }
    }
  }
}

@include mobile {
  .title {
    font-size: $font-size-xl;
  }
}

// Include all our glitch animations
@include chromatic-aberration;
@include glitch-text;
@include glitch-skew;
@include glitch-scale;
@include glitch-clip;
