<div id="projects-slide" class="projects-slide">
  <div class="projects-background"></div>
  <div class="content">
    <div class="title">Projects</div>
    <div class="projects">
      <div class="project">
        <div class="project-desc">
          <div class="project-title">Forum</div>
          <div class="project-text">
            <p>
              Brock MSA is a vibrant community supporting Muslim students at
              Brock University through regular prayers, educational programs,
              and social events. The website serves as a digital hub for prayer
              times, upcoming events, and resources to help Muslim students
              maintain their faith while pursuing academic excellence.
            </p>
          </div>
          <div class="project-image">
            <img
              src="assets/images/brockmsa.png"
              alt="brockmsa.ca screenshot"
            />
            <img
              class="hover-image"
              src="assets/images/brockmsa.png"
              alt="brockmsa.ca screenshot"
            />
          </div>
          <div class="project-stack">
            <div>
              <span>React</span>
              <span>Vite</span>
              <span>TypeScript</span>
            </div>
            <div>
              <span>AWS</span>
              <span>Google Sheets</span>
              <span>Stripe</span>
            </div>
          </div>
          <div class="project-links">
            <a
              class="project-link site"
              href="https://brockmsa.ca"
              target="_blank"
              >Visit Site
            </a>
          </div>
        </div>
      </div>
      <div class="project">
        <div class="project-desc">
          <div class="project-title">Personal Site</div>
          <div class="project-text">
            <!-- prettier-ignore -->
            <p>A landing page for my personal brand. 
               It is a static, one-page web
               application built with Angular, SCSS, and hosted on AWS S3.
            </p>
          </div>
          <div class="project-image">
            <img src="assets/images/page.png" alt="amrthabit.com screenshot" />
            <img
              class="hover-image"
              src="assets/images/page.png"
              alt="amrthabit.com screenshot"
            />
          </div>
          <div class="project-stack">
            <div>
              <span>Angular</span>
              <span>SCSS</span>
              <span>AWS S3</span>
            </div>
          </div>
          <div class="project-links">
            <a
              class="project-link github"
              href="https://github.com/amrthabit/amrthabit.com"
              target="_blank"
              >GitHub
            </a>
            <a
              class="project-link site"
              href="http://localhost:4200"
              target="_blank"
              >Visit Site
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
