.contact-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: 8rem 0.5rem;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;

  .content {
    width: 100%;
    display: flex;
    gap: 0.5rem;

    h1.header {
      font-size: 2.5rem;
      font-weight: 900;
      margin: 0;
    }

    h3.helper {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0;
      color: #ff6f00;
    }

    .link {
      margin: 1rem 0;
      display: grid;
      grid-template-areas: "icon text" "icon link";
      grid-template-columns: 5rem 1fr;
      grid-template-rows: 1fr 1fr;
      width: fit-content;
      border-radius: 0.25rem;
      padding-right: 0.25rem;

      &:hover {
        p {
          font-weight: 700;
        }

        h3 {
          text-decoration: underline solid #ff6f00;
          color: #ff6f00;
        }

        .icon {
          path,
          polyline,
          rect,
          circle,
          line {
            stroke: #ff6f00;
            stroke-width: 1.75;
          }
        }
      }

      .icon {
        grid-area: icon;
        width: 4rem;
        height: 4rem;
        // change stroke color
        path,
        polyline,
        rect,
        circle,
        line {
          stroke: #ff6f00;
          stroke-width: 1.2;
          transition: all 0.15s ease;
        }
      }
      p {
        grid-area: text;
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
        margin-top: auto;
        transition: all 0.15s ease;
        color: #b4b4b4;
      }
      h3 {
        margin-bottom: auto;
        grid-area: link;
        text-decoration: none;
        font-size: 1.5rem;
        margin: 0;
        text-decoration: solid underline transparent;
        transition: all 0.15s ease;
      }
    }

    .contact-links {
      flex: 1;
    }

    .contact-form {
      flex: 1;
    }
  }
}

@media screen and (max-width: 1023px) {
  .contact-slide {
    padding: 8rem 3rem;
    .content {
      flex-direction: column;
      gap: 2rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .contact-slide {
    padding: 8rem 2rem;
  }
}

@media screen and (max-width: 575px) {
  .contact-slide {
    padding: 8rem 1rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
}
