<div class="title" role="main">
  <div class="name">
    <span>Amr Thabit</span>
  </div>
</div>

<div class="links">
  <div class="link desc">
    <div class="content">
      <span>
        Hello, I'm Amr Thabit, a software developer based in Ontario, Canada. I
        enjoy building backend systems and web applications.
      </span>
    </div>
  </div>
  <div class="link projects"><div class="content">Projects</div></div>
  <div class="link about"><div class="content">About</div></div>
  <div class="link contact"><div class="content">Contact</div></div>
</div>

<router-outlet></router-outlet>
