<div class="title" role="main">
  <div class="name">
    <!-- <span>Amr Thabit</span> -->
    <div class="letters">
      <span>A</span>
      <span>m</span>
      <span>r</span>
      <span>T</span>
      <span>h</span>
      <span>a</span>
      <span>b</span>
      <span>i</span>
      <span>t</span>
    </div>
    <div class="letters-below">
      <span>A</span>
      <span>m</span>
      <span>r</span>
      <span>T</span>
      <span>h</span>
      <span>a</span>
      <span>b</span>
      <span>i</span>
      <span>t</span>
    </div>
  </div>
</div>

<div class="links">
  <div class="link desc">
    <div class="content">
      <span>
        Hello, I'm Amr Thabit, a software developer based in Ontario, Canada. I
        enjoy building backend systems and web applications.
      </span>
    </div>
    <div class="link-hover">
      <span
        >View site. View site. View site. View site. View site. View site. View
        site. View site. View site. View site.&nbsp;</span
      >
    </div>
  </div>
  <div class="link projects">
    <div class="content">Projects</div>
    <div class="link-hover">
      <span
        >See my projects. See my projects. See my projects. See my projects. See
        my projects. See my projects. See my projects. See my projects. See my
        projects. See my projects.&nbsp;</span
      >
    </div>
  </div>
  <div class="link about">
    <div class="content">About</div>
    <div class="link-hover">
      <span
        >Read more about me. Read more about me. Read more about me. Read more
        about me. Read more about me. Read more about me. Read more about me.
        Read more about me. Read more about me. Read more about me.&nbsp;</span
      >
    </div>
  </div>
  <div class="link contact">
    <div class="content">Contact</div>
    <div class="link-hover">
      <span
        >Shoot me a message! Shoot me a message! Shoot me a message! Shoot me a
        message! Shoot me a message! Shoot me a message! Shoot me a message!
        Shoot me a message! Shoot me a message! Shoot me a message!&nbsp;</span
      >
    </div>
  </div>
</div>

<div class="about-slide">
  <div class="about-content">
    <div class="about-title">About Me</div>
    <div class="about-text">
      <p>
        I'm a software developer based in Ontario, Canada. I enjoy building
        backend systems and web applications.
      </p>
      <p>
        I'm currently working at
        <a href="https://www.ontario.ca/page/ontario-public-service"
          >Ontario Public Service</a
        >, where I'm building a web application that helps people find
        government services.
      </p>
      <p>
        I'm also working on a few side projects, including a web application
        that helps people find and book appointments with healthcare
        professionals.
      </p>
      <p>
        I'm always looking for new opportunities to learn and grow. If you'd
        like to get in touch, feel free to
        <a
          href="mailto:

        "
          >send me an email</a
        >.
      </p>
    </div>
    <a class="github link" href="https://github.com/amrthabit" target="_blank"
      >GitHub</a
    >
    <a
      class="linkedin link"
      href="https://www.linkedin.com/in/amrthabit/"
      target="_blank"
      >LinkedIn</a
    >
    <a class="mail link" href="mailto:amrthabi7@gmail.com" target="_blank"
      >Email</a
    >
    <a
      class="instagram link"
      href="https://www.instagram.com/thbbit/"
      target="_blank"
      >Instagram</a
    >
  </div>
</div>

<router-outlet></router-outlet>
