@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bounce($seconds: 0.3s) {
  transition: all $seconds cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@mixin background-image($image, $invert: 1) {
  &::before {
    @include bounce;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url($image) no-repeat center center;
    background-size: min(min(40%, 12vh), 20vw);
    filter: invert($invert);
    opacity: 0.3;
    z-index: 1;
  }
}

.title {
  @include center;
  height: 40vh;
  overflow: hidden;
  font-size: 4rem;

  span {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .name {
    position: relative;

    &::before {
      width: 160%;
      height: 160%;
      content: "";
      position: absolute;
      top: -30%;
      left: -30%;
    }
  }

  .letters {
    display: flex;
  }

  .name:hover {
    span {
      transform: translateY(-60%);
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.4s;
      &:nth-child(2) {
        transition-delay: calc(1 * var(--title-delay-1));
      }
      &:nth-child(3) {
        transition-delay: calc(2 * var(--title-delay-1));
      }
      &:nth-child(4) {
        transition-delay: calc(3 * var(--title-delay-1));
      }
      &:nth-child(5) {
        transition-delay: calc(4 * var(--title-delay-1));
      }
      &:nth-child(6) {
        transition-delay: calc(5 * var(--title-delay-1));
      }
      &:nth-child(7) {
        transition-delay: calc(6 * var(--title-delay-1));
      }
      &:nth-child(8) {
        transition-delay: calc(7 * var(--title-delay-1));
      }
      &:nth-child(9) {
        transition-delay: calc(8 * var(--title-delay-1));
      }
    }

    .letters span {
      opacity: 0;
    }

    .letters-below span {
      opacity: 1;
      &:nth-child(1) {
        transition-delay: calc(0.15s + 0 * var(--title-delay-1));
      }
      &:nth-child(2) {
        transition-delay: calc(0.15s + 1 * var(--title-delay-1));
      }
      &:nth-child(3) {
        transition-delay: calc(0.15s + 2 * var(--title-delay-1));
      }
      &:nth-child(4) {
        transition-delay: calc(0.15s + 3 * var(--title-delay-1));
      }
      &:nth-child(5) {
        transition-delay: calc(0.15s + 4 * var(--title-delay-1));
      }
      &:nth-child(6) {
        transition-delay: calc(0.15s + 5 * var(--title-delay-1));
      }
      &:nth-child(7) {
        transition-delay: calc(0.15s + 6 * var(--title-delay-1));
      }
      &:nth-child(8) {
        transition-delay: calc(0.15s + 7 * var(--title-delay-1));
      }
      &:nth-child(9) {
        transition-delay: calc(0.15s + 8 * var(--title-delay-1));
      }
    }
  }

  .letters-below {
    position: absolute;
    display: flex;
    top: 60%;

    span {
      opacity: 0;
    }
  }
}

.links {
  box-sizing: border-box;
  height: 60vh;
  padding: 0.5rem;
  display: grid;
  grid-template-areas:
    "desc desc projects about"
    "desc desc contact contact";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem;
  overflow: hidden;

  .link {
    @include bounce;
    position: relative;
    padding: 0.5rem;
    background: gray;
    cursor: pointer;
    user-select: none;
    border-radius: 1rem;

    .content {
      @include bounce;
      padding: 1rem;
    }

    &:hover {
      scale: 0.98;
      padding: 0.75rem;
      border-radius: 2rem;

      .content {
        scale: 1.05;
        padding: 0.75rem;
        width: fit-content;
      }

      &::before {
        // in addtion to scaling the background image
        // this also increases .link's hitbox so that
        // hovering on edge doesn't cause flickering
        scale: 1.1;
        opacity: 0 !important;
      }
    }

    &:active {
      @include bounce(0.1s);
      scale: 0.95;
    }

    &.desc {
      grid-area: desc;
      background: radial-gradient(
        ellipse at 0% 0%,
        rgb(0, 89, 255) 0%,
        rgb(26, 0, 197) 100%
      );

      &:hover {
        .content {
          opacity: 0;
        }
      }

      @include background-image("/assets/icons/terminal.svg");
    }

    &.projects {
      grid-area: projects;
      background: radial-gradient(
        ellipse at 0% 0%,
        rgb(43, 43, 43) 0%,
        #141414 100%
      );

      @include background-image("/assets/icons/code.svg");

      &::after {
        filter: invert(1) contrast(0.5);
      }
    }

    &.about {
      grid-area: about;
      background: radial-gradient(ellipse at 0% 0%, #ff6200 0%, #b04400 100%);

      @include background-image("/assets/icons/info.svg");
    }

    &.contact {
      grid-area: contact;
      background: radial-gradient(
        ellipse at 0% 0%,
        rgb(255, 249, 241) 0%,
        #ffdebe 100%
      );
      color: black;

      @include background-image("/assets/icons/mail.svg", 0);
    }

    &::after {
      @include bounce;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      aspect-ratio: 1/1;
      height: 30%;
      border-radius: 0.5rem;
      background: url("/assets/icons/chevron-down.svg") no-repeat center center;
      background-size: 100%;
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
      animation: slide-down 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s
        forwards;
    }

    &:active::after {
      animation: slide-down-more 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s
        forwards;
    }

    .link-hover {
      @include bounce;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include center;
      justify-content: flex-start;
      overflow: hidden;

      span {
        margin-left: 1rem;
        white-space: nowrap;
        font-size: 3rem;
        font-weight: 900;
        opacity: 0;
        translate: 0%;
      }
    }

    &:hover .link-hover span {
      transition: translate 3s cubic-bezier(0.13, -0.04, 0.43, 0.47),
        opacity 0.4s;
      opacity: 1;
      translate: -10%;
      animation: slide-left 3s linear 3s infinite;
    }
  }
}

.about-slide {
  display: flex;
  background: linear-gradient(
    180deg,
    rgba(48, 48, 48, 1) 0%,
    rgba(48, 48, 48, 1) 30%,
    rgb(0, 0, 0) 100%
  );
  padding: 8rem 1.5rem 5rem 1.5rem;
  overflow: hidden;

  .about-content {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-areas:
      "title title title"
      "text github linkedin"
      "text mail instagram";
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 10rem 1fr 1fr;
    grid-gap: 0.5rem;
  }

  .about-title {
    grid-area: title;
    font-size: 3rem;
    margin-bottom: 5rem;
    font-weight: 900;
    @include center;

    .about-title-text {
      @include center;
      @include bounce(0.2s);

      span {
        animation: about-letter-reverse 0.3s
          cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s forwards;
        @include bounce(0.2s);
      }

      &:hover {
        scale: 1.2;
      }
    }

    .about-title-hover {
      position: absolute;
      width: 360px;
      height: 100px;

      div {
        position: absolute;
        width: 100%;
        height: 100%;

        &:hover {
          span {
            animation: about-letter 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275)
              0s forwards;
          }
        }

        &:not(.about-title-text) {
          opacity: 0;
        }

        &:nth-child(1) {
          background: green;
          opacity: 0;
          scale: 2;

          &:hover ~ div.about-title-text span:nth-child(-n + 1) {
            animation: about-letter 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
              0s forwards;
          }
        }

        &:nth-child(2) {
          background: yellow;
          scale: 1.9;

          &:hover ~ div.about-title-text span:nth-child(-n + 2) {
            animation: about-letter 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
              0s forwards;
          }
        }

        &:nth-child(3) {
          background: pink;
          scale: 1.8;

          &:hover ~ div.about-title-text span:nth-child(-n + 3) {
            animation: about-letter 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
              0s forwards;
          }
        }

        &:nth-child(4) {
          background: purple;
          scale: 1.7;

          &:hover ~ div.about-title-text span:nth-child(-n + 4) {
            animation: about-letter 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
              0s forwards;
          }
        }

        &:nth-child(5) {
          background: orange;
          scale: 1.6;

          &:hover ~ div.about-title-text span:nth-child(-n + 5) {
            animation: about-letter 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
              0s forwards;
          }
        }

        &:nth-child(6) {
          background: brown;
          scale: 1.5;

          &:hover ~ div.about-title-text span:nth-child(-n + 6) {
            animation: about-letter 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
              0s forwards;
          }
        }

        &:nth-child(7) {
          background: rgb(114, 81, 81);
          scale: 1.4;

          &:hover ~ div.about-title-text span:nth-child(-n + 7) {
            animation: about-letter 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
              0s forwards;
          }
        }

        &:nth-child(8) {
          background: rgb(8, 0, 255);
          scale: 1.3;

          &:hover ~ div.about-title-text span:nth-child(-n + 8) {
            animation: about-letter 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
              0s forwards;
          }
        }
      }
    }
  }

  .about-text {
    grid-area: text;
    background: rgb(22, 22, 22);
    border-radius: 1rem;
    padding: 0 1rem;
  }

  .link {
    box-sizing: border-box;
    min-height: 120px;
    min-width: 150px;
    padding: 1rem;
    position: relative;
    color: #e4e4e4;
    border-radius: 1rem;
    font-weight: 700;

    @include bounce;

    &::after {
      @include bounce(0.2s);
      content: "";
      position: absolute;
      bottom: 10%;
      right: 10%;
      aspect-ratio: 1/1;
      width: 20%;
      background: url("/assets/icons/external-link.svg") no-repeat center center;
      background-size: contain;
      filter: invert(1);
      opacity: 0;
    }

    &:hover,
    &:focus {
      scale: 0.98;
      border-radius: 2rem;
      font-weight: 800;
      font-size: 1.1rem;
      color: white;

      &::before {
        // in addtion to scaling the background image
        // this also increases .link's hitbox so that
        // hovering on edge doesn't cause flickering
        scale: 1.2;
      }

      &::after {
        animation: external-link 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s
          forwards;
        opacity: 0.8;
      }
    }

    &:active {
      @include bounce(0.1s);
      scale: 0.96;
    }
  }

  .github {
    @include background-image("/assets/icons/github.svg");
    grid-area: github;
    background: radial-gradient(ellipse at 20% 10%, #3d3d3d 0%, #141414 100%);
  }

  .linkedin {
    @include background-image("/assets/icons/linkedin.svg");
    grid-area: linkedin;
    background: radial-gradient(ellipse at 20% 10%, #42a1ff 0%, #0a66c2 100%);
  }

  .mail {
    @include background-image("/assets/icons/mail.svg");
    grid-area: mail;
    background: radial-gradient(ellipse at 20% 10%, #ff873d 0%, #b04400 100%);
  }

  .instagram {
    @include background-image("/assets/icons/instagram.svg");
    grid-area: instagram;
    background: radial-gradient(ellipse at 20% 10%, #fcaf45 0%, #e1306c 100%);
  }
}

.projects-slide {
  display: flex;
  min-height: 50vh;
  padding: 4rem 1.5rem 5rem 1.5rem;
  background: #1f1f1f;
  border-radius: 1rem;
  white-space: nowrap;

  .content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .title {
    height: 10rem;
    margin-bottom: 4rem;
    font-size: 3rem;
    font-weight: 900;
    @include center;
  }

  .project {
    display: flex;
    position: relative;

    .project-desc {
      width: calc(100% - 400px);
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
      z-index: 0;
    }

    .project-title {
      font-size: 2rem;
      font-weight: 900;
    }

    .project-title:before {
      content: "Project";
      display: block;
      font-size: 1rem;
      font-weight: 600;
      color: #a9a9a9;
      padding: 0 0.08rem;
    }

    .project-text {
      @include bounce;
      position: relative;
      width: 130%;
      padding: 0 1rem;
      white-space: pre-wrap;

      &:before {
        @include bounce;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background: radial-gradient(
          ellipse at 10% 10%,
          rgba(183, 183, 183) 0%,
          rgba(78, 78, 78) 100%
        );
        opacity: 0.9;
        z-index: -1;
      }

      &:hover {
        scale: 1.03;

        &::before {
          opacity: 1;
        }
      }
    }

    .project-stack,
    .project-stack > div {
      display: flex;
      gap: 0.5rem;
      font-family: monospace;
      font-size: 0.8rem;
      font-weight: 700;

      span {
        padding: 0.2rem 0.5rem;
        border-radius: 0.5rem;
        background: radial-gradient(
          ellipse at 10% 20%,
          rgb(255, 255, 255) 0%,
          rgb(175, 175, 175) 100%
        );
        color: #1f1f1f;
      }
    }

    .project-image {
      position: absolute;
      top: 0;
      right: 0;
      width: 400px;
      height: 400px;

      img {
        @include bounce(0.4s);
        position: absolute;
        height: 400px;
        top: 0;
        right: 0;
        object-fit: cover;
        border-radius: 1rem;
        background-color: blue;
      }

      img.hover-image {
        opacity: 0;
        z-index: 1;
        visibility: hidden;
        position: absolute;
      }

      &:hover {
        img {
          scale: 1.03;
        }

        img.hover-image {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .project:nth-child(2n + 1) {
    flex-direction: row-reverse;

    .project-desc {
      text-align: right;
    }

    .project-text {
      align-self: flex-end;
    }

    .project-stack {
      justify-content: right;
      align-items: end;
    }

    .project-image {
      left: 0;
      img {
        left: 0;
      }
    }
  }
}

.contact-slide {
  display: flex;
  min-height: 50vh;
  padding: 0.5rem;

  .content {
    width: 100%;
  }

  .title {
    font-size: 3rem;
    font-weight: 900;
    @include center;
  }
}

@media screen and (max-width: 1023px) {
  .about-slide {
    .about-content {
      grid-template-areas:
        "title title title"
        "text text github"
        "text text linkedin"
        "text text mail"
        "text text instagram";

      grid-template-columns: 4fr 1fr 1fr;
      grid-template-rows: 5rem 1fr 1fr 1fr 1fr;
    }
  }
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .title {
    font-size: 3rem;
  }

  .links {
    height: 80vh;
    grid-template-areas:
      "desc desc"
      "projects about"
      "contact contact";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    .link {
      padding: 0.5rem;

      .content {
        padding: 0.5rem;
      }

      &:hover {
        padding: 0.75rem;

        .content {
          padding: 0.25rem;
        }
      }
    }
  }

  .about-slide {
    .about-content {
      grid-template-areas:
        "title title"
        "text text"
        "github linkedin"
        "mail instagram";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 5rem 3fr 1fr 1fr;
    }
  }

  .projects-slide {
    .project-text {
      width: 200% !important;
      min-width: 400px;
    }

    .project-stack {
      flex-direction: column;
    }
  }
}

.contact-slide {
  display: flex;
  min-height: 50vh;
  padding: 2rem 0.5rem 4rem 0.5rem;

  .content {
    width: 100%;
  }

  .title {
    font-size: 3rem;
    font-weight: 900;
    @include center;
  }

  .text {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;

    a {
      color: #5673ff;
      text-decoration: none;
      border-bottom: 2px solid #1f1f1f;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #0008ff;
        border-bottom: 2px solid #000477;
        scale: 1.05;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .link {
    &:active {
      @include bounce(0.3s);
      scale: 0.95;
    }
    &:active::after {
      animation: slide-down-more 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s
        forwards;
    }
  }

  .projects-slide {
    .project-desc {
      width: 100% !important;
      height: 600px !important;
    }

    .project-text {
      width: 100% !important;
      min-width: 0 !important;
    }

    .project-image img {
      width: calc(100vw - 3rem) !important;
      height: 600px !important;
      opacity: 0.2;
      filter: grayscale(1) brightness(0.5);
      scale: 1.05;
      mask-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.5) 40%,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0.1) 100%
      );
    }

    // remove all hover effects
    .project:hover {
      .project-image img {
        scale: 1;
        opacity: 1;
        filter: grayscale(0) brightness(1);

        &.hover-image {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    .project:nth-child(2n + 1) {
      .project-image img {
        mask-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0.5) 40%,
          rgba(0, 0, 0, 0.3) 50%,
          rgba(0, 0, 0, 0.1) 100%
        );
      }
    }
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down-more {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15%);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}

@keyframes external-link {
  0% {
    bottom: 5%;
    right: 15%;
  }
  100% {
    bottom: 10%;
    right: 10%;
  }
}

@keyframes about-letter {
  0% {
    font-size: 3rem;
    font-weight: 900;
  }
  100% {
    font-size: 4rem;
    font-weight: 500;
  }
}

@keyframes about-letter-reverse {
  0% {
    font-size: 4rem;
    font-weight: 500;
  }
  100% {
    font-size: 3rem;
    font-weight: 900;
  }
}
