* {
  // remove tap highlight on mobile
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

html {
  font-family: "Satoshi", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 20px;
  font-weight: 700;
  color: #ececec;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

*:focus {
  outline: 2px solid #fff;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
  display: flex;
}

:root {
  // chakra-ui box shadows
  --shadow-0: 0 0 #0000;
  --shadow-1: 0 0 1px rgba(0, 0, 0, 0.04);
  --shadow-2: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-3: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-4: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.04);
  --shadow-5: 0 4px 8px rgba(0, 0, 0, 0.08), 0 8px 16px rgba(0, 0, 0, 0.04);
  --shadow-6: 0 8px 16px rgba(0, 0, 0, 0.08), 0 16px 24px rgba(0, 0, 0, 0.04);
  --shadow-7: 0 16px 24px rgba(0, 0, 0, 0.08), 0 24px 32px rgba(0, 0, 0, 0.04);
  --shadow-8: 0 24px 32px rgba(0, 0, 0, 0.08), 0 32px 40px rgba(0, 0, 0, 0.04);
  --shadow-9: 0 32px 40px rgba(0, 0, 0, 0.08), 0 40px 48px rgba(0, 0, 0, 0.04);

  --title-delay-1: 0.05s;
  --title-delay-2: 0.1s;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

// make scrollbar smaller
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #2e2e2e;
}

::-webkit-scrollbar-thumb:hover {
  background: #3e3e3e;
}

@property --color-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff;
}

@property --color-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff;
}